html, 
body{
            margin: 0;
            padding: 0;
            /*filter: blur(3px);*/
            background: #000e13;
        }
        canvas{
            position: absolute;
            left: 0;
            top: 0;
        }
        #leafContainer{
            filter: blur(3px);
        }